In [69]:
import pandas as pd
df1=pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]}) # creating data frame using panda series X

In [70]:
df1

   X
0  7
1  2
2  0
3  3
4  4
5  2
6  5
7  0
8  3
9  4

In [4]:
s=pd.Series(df1.X)

In [20]:
s
s.iloc[1]

2

In [62]:
list_b=[]

In [63]:
count=0

In [64]:
for i in range(0,len(s)):#calculating the distance
    if(s.iloc[i]!=0):
        count=count+1
        list_b.append(count)
        print(count)
    else: 
        count=count+1
        print(count)
        list_b.append(count)
        count=0

1
2
3
1
2
3
4
5
1
2

In [65]:
list_b

[1, 2, 3, 1, 2, 3, 4, 5, 1, 2]

In [72]:
s2=pd.Series(list_b)# creating series for newly created list

In [73]:
df1['Y']=s2.values#adding new column to dataframe using the series

In [74]:
df1

   X  Y
0  7  1
1  2  2
2  0  3
3  3  1
4  4  2
5  2  3
6  5  4
7  0  5
8  3  1
9  4  2

In [ ]:
#2
df2=pd.DatetimeIndex(start='2010-01-01',end='2010-01-15',freq='')